<style>
  body{
    margin:0;
  }
  section{
    background:url("/books.jpg");
    background-size: contain;
    height: 200px;
    background-position: center center;
  }

  div.main{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
  }
  div.main p{
    margin: 0px;
    margin-top: 10px;
    color:#2c3e50;
  }
  a.connect{
    margin-top: 30px;
    display: inline-block;
    background-color: #fdd05f;
    border-radius: 5px;
    color: #382110;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
  }
</style>

<section></section>

<div class="main">
      <p style="font-size:40px;">Not sure what to read next?</p>
      <p style="font-size:25px;">Check what your friends are reading</p>
  <a class="connect" href="/auth">Connect with Goodreads</a>
</div>